@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Raleway", "Sans serif";
  margin: 0;
}

/* partie bloc site */

body {
    font-family: Raleway, sans-serif;
}

.bloc-site {
    display: block;
    max-width: 1440px;
    margin: auto;
    width: auto;
    padding: auto;
}

@media screen and (max-width: 600px) {
    .bloc-site {
        max-width: 600px;
        width: auto;
    }
}


/* CSS du Header contenant logo et Nav */


@media screen and (min-width: 630px) {

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin:auto;
        margin-bottom: 50px;
        max-width: 1440px;
        width: 100%;
    }
    
    .logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    
    .logo > img {
        width: 100px;
    }
    
    .nav__list {
        display: flex;
        list-style-type: none;
        width: 15%;
    }
    
    .nav__list li {
        padding: 1rem 2rem 1rem 2rem;
        margin-top: -15px;
    }

    .nav__list a:hover {
        border-top: 3px solid #0065FC;
}

}


@media screen and (max-width: 629px) {
    header {
        display: grid;
        grid-template-rows: 1fr 1fr;
        margin-bottom: 30px;
        max-width: 600px;
    }

    .nav {
        grid-row: 2;
        display: flex;
        justify-content: space-around;
        width: 90%;
    }

    .logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 20px;
    }
    
    .logo > img {
        width: 80px;
    }
    
    .nav__list {
        display: flex;
        list-style-type: none;
        margin-left: -15px;
    }
    
    .nav__list li {
        padding: 1rem;
        margin-top: -15px;
    }

    .nav__list a:active {
        border-bottom: 3px solid #0065FC;
    }

}

.nav__list a:link {
    text-decoration: none;
}

.nav__list a:visited {
    color: inherit;
    text-decoration: none;
}

.nav__list a:hover {
    color: #0065FC;
    font-weight: bold;
    transition-duration: .3s;
    margin-top: -15px;
    padding-top: 12px;
}

.li3 {
    color: #0065FC;
    font-weight: bolder;
}


/* MAIN */ 

.main {
    display: block;
    max-width: 90%;
    margin: auto;

}

/* CSS de la barre de recherche section .search */ 

.search {
    width: 100%;
    margin-bottom: 30px;
}

/* Partie texte */ 

.search > h1 {
    font-size: 2rem;
    margin-bottom: 0px;
}

h1 + p {
    margin-top: 10px;
}

/* Partie Bouton Recherche */ 

.barre-recherche {
    margin-top: 40px;
}

form {
    display: inline-flex;
    align-items: center;
    max-width: 100%;
    width: 400px;
    height: 50px;
}

.img-icon {
    width: 18px;
    height: 18px;
}

.icone-geoloc {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 1.2rem 0 0 1.2rem;
    padding: 0 3px 0 3px;
}

.rechercher {
    border-right: none;
    border-left: none;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    box-sizing: border-box;
    color: rgb(182, 179, 179);
    font-size: 1rem;
    padding-left: 20px;
    outline: none;
}

.bouton-recherche {
    background-color: #0065FC;
    border: none;
    border-radius: 0 1.2rem 1.2rem 0;
    color: white;
}

.rechercher:focus {
    border: 2px solid #0065FC;
}

@media screen and (min-width: 450px) {
    .bouton-recherche {
        width: 350px;
        height: 50px;
        font-size: 1.2rem;
    }

    .rechercher {
        width: 500px;
        height: 50px;
    }

    .icone-geoloc {
    width: 120px;
    height: 50px;
    }

    .bouton-recherche:hover {
        cursor: pointer;
        background-color: #0050fc;
    }
}    

@media screen and (max-width: 449px) {
    .bouton-recherche {
        width: 95px;
        height: 35px;
    }

    .rechercher {
        width: 200px;
        height: 35px;
    }

    .icone-geoloc {
    width: 40px;
    height: 35px;
    }
    
    .bouton-recherche:active {
        background-color: #0050fc;
    }

}




/* Partie Filtres */ 

.filtres {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 5rem;
    margin-top: 20px;
}

.filtres h2 {
    margin-right: 50px;
}

.filtre-recherche {
    display: flex;
    align-items: center;
    margin: 0 2rem 1rem 0;
    border-radius: 3rem;
    border: 2px solid rgb(231, 230, 230);
    text-align: center;
}

.filtre-recherche:hover {
    cursor: pointer;
    background-color: #F2F2F2;
    transform: scale(1.03);
    transition-duration: 0.3s;
}

.filtre-recherche__icone-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 55px;
    background-color: #DEEBFF;
    border-radius: 50%;
    margin: -2px;
}

.filtre-recherche__image {
    height: 25px;
    width: 25px;
}

.filtre-recherche__texte {
    font-size: 1.1rem;
    padding-left: 10px;
    padding-right: 20px;
    font-weight: bold;
    white-space: nowrap;
}

.search__end {
    display: inline-flex;
    align-items: center;
}

.search__end__box-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    width: 25px;
    height: 27px;
    border: 1px solid rgb(182, 179, 179);
    border-radius: 50%;
    padding: 2px;
    
}

.search__end__image {
    width: 17px;
    height: 22px;
}

/* Section hébergements */

@media screen and (min-width: 1440px) {
    .section-principale {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 3rem;
        margin-bottom: 10px;
    }
}


@media screen and (max-width: 1439px) {
    .section-principale {
        display: grid;
        row-gap: 3rem;
        margin-bottom: 3rem;
    }

    .populaires {
        order: -1;
    }

    .locations h2:hover {
        cursor: pointer;
        font-size: 1.1rem;
        transition-duration: 0.3s;
    }
}

.locations {
    border-radius: 12px 12px 12px 12px;
    padding: 1rem 2rem 1rem 2rem;
    background-color: #F2F2F2;
}

.locations__grid {
        display: grid;
        column-gap: 2rem;
        row-gap: 2rem;
        grid-template-columns: 1fr 1fr 1fr;    
    }

@media screen and (min-width: 601px) and (max-width: 900px){
    .locations__grid {
        grid-template-columns: 1fr 1fr;    
    }
    
    .locations h2:active {
        font-size: 1.1rem;
        color: rgba(24, 12, 124, 0.842);
    }
}

@media screen and (max-width: 601px) {
    .locations__grid {
        grid-template-rows: repeat(6,1fr);
        grid-template-columns: 1fr;
    }

    .locations {
        background-color: white;
    }

    .locations h2:active {
        font-size: 1.1rem;
        color: rgba(24, 12, 124, 0.842);
    }
}

.locations > h1 {
    padding-bottom: 1rem;
    font-size: 1.3rem;
}

.article-heb {
    background-color: white;
    border-radius: 1.2rem;
    padding: 0.4rem;
    box-shadow: 0px 0px 1rem #0000004d;
    box-sizing: border-box;
    width: 100%;
}

.article-heb__container-img {
    margin: 0;
    min-width: 230px;
}

.article-heb:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition-duration: 0.3s;
}

.article-heb > p, .article-heb > h3 {
    margin: 5px 0 5px 0;
}

.article-heb__text > p {
    font-size: 0.9rem;
    margin: 3px 0 0 10px;
}

.article-heb__text > h3 {
    font-size: 1rem;
    margin: 3px 0 0 10px;
}

.article-heb__text > .container-etoiles {
    margin: 8px 0 0 10px;
}


.small-logements {
    width: 100%;
    max-height: 115px;
    border-radius: 12px 12px 0 0;
    object-fit: cover;
}

.img-etoiles {
    width: 15px;
    height: 15px;
}

.locations > h2 {
    padding-top: 10px;
    font-size: 1rem;
}

.locations h2:hover {
    font-size: 1.1em;
    transition-duration: .3s;
}

/* Aside les plus populaires */ 


.populaires {
    display: grid;
    row-gap: 2rem;
    background-color: #F2F2F2;
    padding: 2rem;
    border-radius: 1rem;
}

@media screen and (min-width: 1440px) {
    .populaires {
        grid-template-rows: auto repeat(3,125px);
    }

    .article-pop__container-img {
        max-height: 100%;
        max-width: 35%;
    }
}

@media screen and (min-width: 1110px) and (max-width: 1439px){
    .populaires {
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 50px 1fr;
        column-gap: 1%;
    }

    .populaires__container-titre {
        grid-column: 1 / 4;
    }

    .article-pop__container-img {
        max-height: 100%;
        max-width: 35%;
    }
}

@media screen and (max-width: 1099px) {
    .populaires {
        grid-template-columns: 1fr;
        grid-template-rows: auto repeat(3, 150px);
    }
}

@media screen and (min-width: 900px) and (max-width: 1099px) {
    .article-pop {
        margin: 0 100px 0 100px;
    }

    .article-pop__container-img {
        max-height: 100%;
        max-width: 30%;
    }
}

@media screen and (max-width: 899px) {
    .article-pop__container-img {
        max-height: 100%;
        max-width: 30%;
    }
}

.populaires__container-titre {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires__img-titre {
    padding-top: 1.5rem;
    width: 30px;
    height: 20px;
}

.populaires__container-titre > h1 {
    font-size: 1.3rem;
    margin-bottom: 0rem;
}

.article-pop {
    display: flex;
    background-color: white;
    padding: .5rem;
    border-radius: 1.2rem;
    box-shadow: 0px 0px 16px #0000004d;
    height: 85%;
    max-height: 150px;
    min-width: auto;
    font-size: 1rem;
}

.article-pop:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition-duration: 0.3s;
}

.mini-logements {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem 0 0 1rem;
}

.article-pop__text {
    display: flex;
    flex-direction: column;
    max-width: 230px;
    height: 100%;
    padding: 0px 15px 0px 15px;
    font-size: 1em;
}

.article-pop__text > p, .article-pop__text > h3 {
    margin: 7px 0px 7px 0px;
}

.article-pop__text > h3 {
    font-size: 1rem;
    height: 50%;
}

.article-pop__text > p {
    font-size: .8rem;
    height: 50%;
}

.article-pop__blank-text {
    flex: 1;
}

/* Section Activités */

.activities {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

@media screen and (min-width: 1100px) {

    .activities__container {
        display: grid;
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: repeat(12,1fr);
        column-gap: 2rem;
        row-gap: 2rem;
        max-height: 500px;
    }
    
    .activities-1 {
        grid-column: 1 / 4;
        grid-row: 1 / 12;
    }

    .activities-2 {
        grid-column: 4 / 7;
        grid-row: 1 / 7;
    }

    .activities-3 {
        grid-column: 7 / 10;
        grid-row: 1 / 12;
    }

    .activities-4 {
        grid-column: 10 / 13;
        grid-row: 1 / 6;
    }

    .activities-5 {
        grid-column: 4 / 7;
        grid-row: 7 / 12;
    }

    .activities-6 {
        grid-column: 10 / 13;
        grid-row: 6 / 12;
    }
}

@media screen and (min-width: 630px) and (max-width: 1099px) {

    .activities {
        height: auto;
    }

    .activities__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto repeat(7,auto);
        column-gap: 2rem;
        row-gap: 2rem;
        height: auto;
        margin-bottom: -130px;
    }

    .activities__container img {
        max-height: 120px;
    }
}

@media screen and (max-width: 629px) {
    .activities {
        height: auto;
    }

    .activities__container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto repeat(7,auto);
        column-gap: 2rem;
        row-gap: 2rem;
        height: auto;
        margin-bottom: -80px;
    }

    .activities__container img {
        max-height: 120px;
    }
}

.activities article:hover {
        cursor: pointer;
        transform: scale(1.02);
        transition-duration: 0.3s;
}

.activities > h1 {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.activities-1 > p {
    font-weight: bold;
    padding-left: 15px;
}

.activities-1 {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 16px #0000004d;
    border-radius: 12px;
    font-weight: bold;
} 

.activities-1 > img {
    width : 100%;
    height: 100%;
    object-fit: cover;
}

.activities-1 > p {
    font-weight: bold;
    padding-left: 15px;
}

.activities-2 {
    
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 16px #0000004d;
    border-radius: 12px;
    font-weight: bold;

}

.activities-2 > img {
    width : 100%;
    height: 100%;
    object-fit: cover;
}

.activities-2 > p {
    font-weight: bold;
    padding-left: 15px;
}

.activities-3 {
    object-fit: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 16px #0000004d;
    border-radius: 12px;
    font-weight: bold;

}

.activities-3 > img {
    width : 100%;
    height: 100%;
    object-fit: cover;
}

.activities-3 > p {
    font-weight: bold;
    padding-left: 15px;
}

.activities-4 {
    object-fit: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 16px #0000004d;
    border-radius: 12px;
    font-weight: bold;

}

.activities-4 > img {
    width : 100%;
    height: 100%;
    object-fit: cover;
}

.activities-4 > p {
    font-weight: bold;
    padding-left: 15px;
}

.activities-5 {
    object-fit: contain;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 16px #0000004d;
    border-radius: 12px;
    font-weight: bold;

}

.activities-5 > img {
    width : 100%;
    height: 100%;
    object-fit: cover;
}

.activities-5 > p {
    font-weight: bold;
    padding-left: 15px;
}


.activities-6 {
    object-fit: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 16px #0000004d;
    border-radius: 12px;
   

}

.activities-6 > img {
    width : 100%;
    height: 100%;
    object-fit: cover;
}

.activities-6 > p {
    font-weight: bold;
    padding-left: 15px;
}

/* Footer */ 

footer {
    width: 100%;
    background-color: #F2F2F2;
    margin-top: 2rem;
}

@media screen and (min-width: 630px) {
    .footer__elem {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .footer__group {
        display: flex;
        flex-direction: column;
        max-width: 430px;
        min-width: 200px;
        width: 22.5%;
        padding-top: 2rem;
        margin-right: 1rem;
    }

    .footer__group > h2 {
        margin-bottom: .9rem;
        font-size: 1.1rem;
    }

    footer ul li {
        margin-top: .7rem;
    }

    .footer__group li:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

@media screen and (max-width: 629px) {
    .footer__elem {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__group {
        display: flex;
        flex-direction: column;
        max-width: 430px;
        min-width: 200px;
        width: 50%;
        padding-top: 0.5rem;
    }

    .footer__group > h2 {
        margin-bottom: .6rem;
        text-align: center;
        font-size: 1.1rem;
    }

    footer ul li {
        margin-top: .3rem;
        text-align: center;
    }

    .footer__group li:active {
        text-decoration: underline;
    }

}

.footer__group > ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 2rem 0;
    }

    

